<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-shop SEO Dashboard</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/js/echarts.min.js" defer></script>
</head>
<body>
  <div class="container">
    {% for field in fields %}
      <div class="box">
        <p>{{ field }}</p>
        <h1 number-anim="{{ log[field] }}">0</h1>
      </div>
    {% endfor %}
  </div>

  <form id="month-form">
    <input type="month" id="month-input" name="month" value="{{ month }}" />
  </form>

  <div id="main"></div>

  <script>
    const options = {{ options | safe }}
  </script>
  <script src="/public/js/main.js" defer></script>
</body>
</html>